* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
}

h1 {
    font-size: 35px;
    padding-left: 6rem;
    padding-top: 3rem;
}

p {
    padding-bottom: 15px;
    padding-left: 30px;
    margin-top: 10px;
    font-size: 1.5rem;
}


/* Topnav */

nav {
    overflow: hidden;
    background-color: #c66969;
    width: 100%;
    border-style: none none solid none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

li a:hover {
    color: black;
    transition: all 0.2s ease-out;
    text-decoration: underline;
}

li.actief a {
    color: black;
    text-decoration: underline;
}

nav ul a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding-right: 7rem;
}


/* Form */

form {
    margin-left: 6rem;
    margin-top: 3rem;
}

label {
    font-size: 20px;
}

.field {
    margin-bottom: 2rem;
}

.submit {
    float: left;
    display: block;
    padding: 3px;
    margin-top: 1rem;
    margin-left: 30rem;
    font-size: 20px;
}

#cancelbutton {
    margin-left: 4rem;
    text-align: center;
}

#cancelh1 {
    padding-left: 0;
}

#cancelp {
    padding-left: 0;
    text-align: center
}

.zoekForm {
    margin-top: 1rem;
}

#zoekSubmit {

}


/* Table */

table {
    width: 40rem;
    height: 10rem;
    margin-top: 2rem;
    margin-left: 5rem;
    border-style: solid none;
    border-collapse: collapse;
    border-color: black;
}

td {
    text-align: center;
    font-weight: 600;
}

tr {
    border-style: solid none;
    border-collapse: collapse;
    border-color: black;
}


/* Footer */

footer {
    position: absolute;
    color: white;
    background: #1a1a1a;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}