* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
}

h1 {
    font-size: 35px;
    padding-left: 20px;
    padding-top: 20px;
}

p {
    padding-bottom: 15px;
    padding-left: 30px;
    margin-top: 10px;
    font-size: 1.4rem;
}


/* Topnav */

nav {
    overflow: hidden;
    background-color: #c66969;
    width: 100%;
    border-style: none none solid none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

li a:hover {
    color: black;
    transition: all 0.2s ease-out;
    text-decoration: underline;
}

li.actief a {
    color: black;
    text-decoration: underline;
}

nav ul a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding-right: 7rem;
}


/* Form */

form {
    margin-left: 3rem;
    margin-top: 2rem;
}

.submit {
    padding: 3px;
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: large;
}


/* Table */

table {
    width: 40rem;
    height: 10rem;
    margin-top: 2rem;
    margin-left: 5rem;
    border-style: solid none;
    border-collapse: collapse;
    border-color: black;
}

td {
    text-align: center;
    font-weight: 600;
}

tr {
    border-style: solid none;
    border-collapse: collapse;
    border-color: black;
}


/* STER TEST */

.rate {
    height: 46px;
    padding: 0 10px;
    width: 180px;
    margin-top: 0;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: "\2605";
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.ratingLabel {
    margin-left: 3rem;
    height: 10px;
}

/* Footer */

footer {
    position: fixed;
    color: white;
    background: #1a1a1a;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}